<div class="content-bg">
  <div class="row">
    <div class="col-md-12">
      <div id="content_wrapper">
        <div id="active_admin_content">
          <div id="login">
            <h2 align="center" style="margin-left: -5px;">Change your password?</h2>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="field">
                <label class="control-label" style="margin-left: 60px; color:#4885dc"> NEW PASSWORD </label>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, class: "form-control", style: "margin-left: 60px", autocomplete: "off" %>
              </div>
              <br />
              <div class="field">
                <label class="control-label" style="margin-left: 60px; color:#4885dc"> CONFIRM NEW PASSWORD </label>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", style: "margin-left: 60px" %>
              </div>

              <div class="actions">
                <%= f.button "Reset Password", class: "btn btn-primary pull-right", type:"submit", style: "margin-right: 50px;"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>